
.navbar{
    background-color: rgb(255, 255, 255);
}
.vl {
    border-left: 2px solid #a5dfa8 ;
    margin-top: 10px;
    padding-right: 0%;
    padding-top: 4%;
    height: 10px;
  }

a:focus{
    outline: none !important;
    box-shadow: none !important;
}
a{
    font-family: Arial;
    border: 0;
}


#Green{
    color:  rgb(0, 255, 85);
    font-weight: bold;
}
#Green:hover{
    color:  wheat;
}



#notify
{
	position: absolute;
	width: 20%;
	height: 370px;
	background-color: rgba(0,0,0,0.7);
	right: 100px;
	top:112%;
	display: none;
	animation: notifyzoom 0.5s;
    z-index: 10;
}

@keyframes notifyzoom
{
	0%
	{
		transform: scaleY(0);
	}
	100%
	{
		transform: scaleY(1);
	}
}

#notif{
    color: black;
    font-weight: 600;
}
#notif:hover #notify{
	display: block;

}
#notif:hover 
{
    color: rgb(37, 255, 121);


}

#notify p
{
	color:white;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}


#Home{
    color: black;
    font-weight: 600;
}
#Home:hover{
    color: rgb(37, 255, 121);
}
#User{
    color: black;
    font-weight: 600;
}
#User:hover{
    color:  wheat;
}
#Logout{
    color:  wheat;
    font-weight: 600;
}
#Logout:hover{
  color: black;
}

input{
    height: 30px;
}
input:focus{
    outline: none !important;
    box-shadow: none !important;
}

.dropdown{
    cursor: pointer;
}
.dropdown-menu :hover{
    color:   wheat;
    background-color: white;
}

#miniuser{
    color: black;
    font-weight: 600;
}
#miniuser :hover {
    color: rgb(119, 255, 115);
}
  
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256, 256, 256, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 
@media (max-width:768px){
    #signIn{
        background-color: white;
        border: 1px solid  wheat;
        color:  wheat;
        font-weight: 600;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    #signUp:focus{
        color:black ;
    }
}

@media only screen and (max-width: 770px) {
    #v2{
        display: none;
    }
    #miniuser{
        display: none;
    }
}