.users-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 80rem;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  

.user-item {
    margin: 1rem;
} 
.image-adjust{
    height: 300px !important;
}