@import "~react-image-gallery/styles/css/image-gallery.css";


.card {
    width: 20rem;
    border-color: seagreen;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgb(0, 0, 0, 0.253)!important;
}

.card-body {
    padding: 3rem 0 !important;
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
    margin-right: auto;
    text-align: right;
}

.container-fluid .row {
    padding-top: 10rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.8);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
a,
p {
    font-family: helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #00898E;
    margin: 0;
    padding: 30vh 0 1em;
}

h2 {
    text-align: center;
    white-space: nowrap;
    color: #00898E;
}

.Tit {
    color: sienna;
}

.tit2 {
    color: rgb(11, 116, 51);
}

.popup {
    position: fixed;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    visibility: hidden;
    opacity: 0;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
}

.popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
}

.popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
}

.popup .close:hover {
    color: #00E5EE;
}

.close-popup {
    background: rgba(0, 0, 0, .7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
}

.popup:target+.close-popup {
    opacity: 1;
    visibility: visible;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

p {
    text-align: right;
}